/* html */
html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: lato-light;
}


/* header */
header{
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 15px;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-family: lato-light;
    margin: 0 5px;
}
header ul li a:hover,
header ul li a:visited{
    color: white;
    opacity: .8;
}


/* section */
section{
    width: 100%;
    height: 100%;
    padding: 100px 10px 10px 10px;
    overflow: scroll;
}


/* footer */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    font-size: 12px;
}