<span class="small-12 medium-6 medium-offset-3 column">
    <h2 class="text-center">Hello</h2>
    <hr/>
    <p class="text-center">
        Welcome to the user interface.
    </p>
    <hr/>

    <h5>Here are your informations :</h5>
    <p>
        Firstname : {{user.profile.firstname}} <br/>
        Lastname : {{user.profile.lastname}} <br/>
        Age : {{user.profile.age}} <br/>
        Sex : {{user.profile.sex}} <br/>
        Address : {{user.profile.address}} <br/>
        Description : {{user.profile.description}} <br/>
    </p>
</span>
